.detailWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--content-height);
}

.post {
    display: flex;
    flex-direction: column;
    width: 600px;
}
